.container
  = react_component 'Form'

  .row
    .col-md-6.col-md-offset-3
      = link_to t('.english'), root_url(locale: :en)
      |
      = link_to t('.portuguese'), root_url(locale: :pt)
      |
      = link_to t('.german'), root_url(locale: :de)
